<template>
<div class="container">
<h6>Découvrir le Lot</h6>
 <h5>On a tous quelque chose de Lot en nous ! </h5>
 <div class="Partie1">
 	<img src="../assets/img/Capturedu2019-02-19 12-18-09.png" class="Rocamadour" alt="Rocamadour">
 <p>Au cœur du Sud-Ouest de la France, le Lot exerce un charme puissant où se mêlent beauté des paysages, élégance du patrimoine et simplicité terrienne. Le tout ensoleillé par un sens de l’accueil et un art de vivre qui ne demandent qu’à être vécus, partagés, savourés.<br><br>

 Humez la saveur exquise de la truffe, qui honore nos tables, le safran ou le foie gras, luxe d’un pays où l’on aime la bonne chère, les tendres petits <a href="#">«Rocamadour»</a>, fromage de chèvres qui embaument l’étal du marché de Cahors, l’agneau fermier du Quercy, le melon du Quercy, soleil de nos assiettes, les perles de la vallée de la Dordogne (prunes et noix)…<br><br>

 Entendez les clapotis d’une baignade improvisée après une descente du Célé ou de la Dordogne en Kayak.<br><br></p>
</div>

<p>Sentez la douceur de la lumière dorée du soleil couchant sur la pierre blonde du village perché de <a href="#">«St-Cirq-Lapopie»</a>, et autres villages classés, bastides, châteaux…<br><br>

Dans une nuit étoilée à compter les comètes sur le causse…C’est l’harmonie retrouvée d’une nature généreuse et grandiose, qui vous galvanise le temps d’une virée dans les entrailles de la terre (Gouffre de Padirac, Grottes de Pech-Merle ou de Cougnac…) : il y a plénitude d’une flânerie sur les chemins de traverse ou sur le GR65 en direction de Compostelle. Il y a de l’extraordinaire dans la puissance créative de ses festivals, de la sensualité dans ses vins (Cahors AOC, les vins des Coteaux du Quercy, de Pays du Lot), véritables élixirs de bonheur gorgés de tout l’amour de sa terre.<br><br>

Et toujours des rencontres, des sensations, des sourires.<br><br>

Fou de nature, gourmand, aventurier dans l’âme, amoureux des vieilles pierres ou artiste en herbe : le Lot est à vous, le Lot est en vous.</p><br><br>

<div class="Partie2">
<h5>Ce qu’il y a à faire, à voir</h5>
<img src="../assets/img/filip-mroz-169103-unsplash.jpg" class="canoe">
<strong>Les multiples facettes du Lot</strong>

<p>Le Lot, un pays contrasté à découvrir sous de nombreuses facettes, au travers de…<br>
…ses belles pierres<br>
…ses sentiers de randonnées<br>
…son monde souterrain<br>
…son eau<br>
…ses gourmandises</p><br>

<strong>A pied</strong>

<p>Plusieurs GR dont le GR65 (chemin de St Jacques de Compostelle)
135 circuits de petite randonnée balisés se prêtent aussi bien à une escapade de quelques heures qu’à de la grande randonnée.<br>
Des sentiers de découverte aménagés : Marais de bonnefont, 5 Espaces Naturels Sensibles</p>

<strong>A vélo</strong>

<p>Différents circuits dans tous les secteurs du département vous sont proposés. Du plus facile aux plus techniques, il y en a pour tous les goûts. Près de 80 circuits (cyclo ou VTT) empruntent des petits chemins sélectionnés pour leur caractère pittoresque.
La véloroute Vallée du Lot (80km)</p>

<strong>A cheval</strong>

<p>De nombreux établissements vous accueillent pour se former ou se perfectionner en équitation. Il faut dire que le Lot avec ses nombreux sentiers balisés est un paradis pour les cavaliers</p>

<strong>Au fil de l’eau</strong>

<p>22 points d’embarquement pour le canoë-kayak
le Lot navigable sur 75 km (en bateau, gabare…)
croisières à bord de bateaux à passagers<br>
Mais aussi golfs, parcs aquatiques, pêche, accrobranche, escalade, spéléologie, parapente, montgolfière…</p>

<strong>De nombreux sites à ne pas manquer</strong>

<p>Rocamadour étourdissant village,<br>
Saint-Cirq Lapopie ancré au dessus du Lot,<br>
Cahors et son Pont Valentré,<br>
Figeac et sa place des écritures…<br><br>

Des paysages souterrains qui excellent de milliers de trésors :
-Phosphatières du Cloup d’Aural,<br>
-Grottes de Cougnac, de Lacave, de Pech Merle, de Roland<br>
-Gouffre de Padirac<br><br>

Le parc animalier de Gramat<br>
La forêt des singes, le Rocher des aigles…</p>

<strong>Choisissez les sites partenaires des gîtes de France et bénéficiez de tarifs préférentiels.</strong>

</div>
<div class="Partie3">
<br>
<h5>Le Lot ne serait pas le Lot sans sa gastronomie :</h5> 
<img src="../assets/img/46_truffes-1438855178.jpg">
<p>Territoire généreux, produits de grande qualité que nous vous invitons à découvrir à travers ses foires et marchés, en poussant la porte des ses fermes et de ses caves…<br>

Réputés depuis toujours, les vins AOC de Cahors se classent aujourd’hui parmi les meilleurs de France. Les vins des Coteaux du Quercy et les vins du Pays de Glanes ou rocamadour complètent une riche collection aux saveurs du soleil.<br><br>

La truffe et le safran, produits nobles par excellence<br>
Le Foie Gras de canard ou d’oie<br>
Le Melon du Quercy et la Prune de Carennac<br>

L’Agneau Fermier du Quercy :<br>
Le petit fromage AOC Rocamadour<br>
La Noix AOC Dordogne<br></p>
</div>
<strong>Les immanquables !!!</strong>
<p>Découvrez nos locations de vacances à proximité des sites immanquables du Lot</p>
<div class="Partie4">
	<a href="#"><img src="../assets/img/navigation_a_saint-cirq-lapopie_-_c_lot_tourisme_-_e._ruffat_-001.jpg"></a>
	<p class="test">Saint-Cirq-Lapopie</p>
	</div>
	
</div>
</template>

<script>
export default {
  name: 'DecouvrirLeLot',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
	font-family: RaleWay;
	padding: 50px;
}
.container h6{
	font-size: 25px;
	color: #3a485f;
	text-align: center;
	font-weight: bold;
}
.container h5{
	font-size: 20px;
	color: #156943;
	font-weight: bold;
	margin-left: 20px;
}

.container p{
	text-align: justify;
}

.container p, ul, strong{
	font-size: 15px;
	color: #3a485f;
}

.container a{
	color: #F45D5C;
	text-decoration: underline;
}
.Partie1 img{
 	 float: left;
 	height: 270px;
 	width: 500px;
 	margin: 10px;
}
.Partie2 img{
	float: right;
 	width: 500px;
 	height: 270px;
 	margin: 10px;
}
.Partie3 img{
	float: left;
 	width: 400px;
 	height: 270px;
 	margin: 10px;
}
.Partie4{
	width: 500px;
 	height: 270px;
 	margin: 10px;
 	display: flex;
 }
.Partie4 img{
	width: 100%;
	height: 100%;
	position: relative;
}
.Partie4 p{
	position: absolute;
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-top: 110px;
	margin-left: 80px;
}
/*mettre resposive SMALL*/
@media screen and (max-width: 768px) {
.container{
	font-family: RaleWay;
	padding: 50px;
}
.container h6{
	font-size: 25px;
	color: #3a485f;
	text-align: center;
	font-weight: bold;
}
.container h5{
	font-size: 20px;
	color: #156943;
	font-weight: bold;
	margin-left: 20px;
}

.container p{
	text-align: justify;
}

.container p, ul, strong{
	font-size: 15px;
	color: #3a485f;
}

.container a{
	color: #F45D5C;
	text-decoration: underline;
}

.Partie1 img{
 	 float: none;
 	height: 135px;
 	width: 250px;
 	margin: 10px;
}
.Partie2 img{
	float: right;
 	height: 135px;
 	width: 250px;
 	margin: 10px;
}
.Partie3 img{
	float: left;
 	width: 200px;
 	height: 135px;
 	margin: 10px;
}
.Partie4{
	width: 250px;
 	height: 135px;
 	margin: 10px;
 	display: flex;
 }
.Partie4 img{
	width: 100%;
	height: 100%;
	position: relative;
}
.Partie4 p{
	position: absolute;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-top: 55px;
	margin-left: 40px;
}
}
</style>