<template>
 <div class="header-container">
    <video autoplay="true" loop="true" autobuffer="true">
     <source src="../assets/video.webm"
             type="video/webm">
    <source src="../assets/video.mp4"
            type="video/mp4">
    </video>
   <div class="header-titre">
     <div>
       <h2>Trouvez le gîte ou la chambre d'hôtes de vos rêves</h2>
      </div>
   </div>
   <div class="header-form">
     <form action="">
       <input type="text" placeholder="Ou souhaitez-vous aller?">
       <input type="text" placeholder="Arrivée">
       <input type="text" placeholder="Départ">
       <select id="pet-select">
        <option value="">2 voyageurs</option>
        <option value="dog">3 voyageurs</option>
        <option value="cat">4 voyageurs</option>
        <option value="hamster"5 voyageurs</option>
        <option value="parrot">6 voyageurs</option>
        <option value="spider">7 voyageurs</option>
        <option value="goldfish">8 voyageurs</option>
      </select>
       <button type="button" name="button">Rechercher</button>
     </form>
   </div>
 </div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .header-container{
    width: 100%;
    height: 77.9vh;
    overflow: hidden;
    position: relative;
  }
  video{
    width:100%;
  }
  .header-titre{
    position: absolute;
    z-index: 22;
    bottom: 30%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  .header-titre>div{
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
  }
  .header-form{
    position: absolute;
    z-index: 22;
    bottom: 10%;
    width: 100%;
    text-align: center;
  }
  form{
    display: inline-flex;
  }
  input{
    padding: 10px;
    border-top: none;
    border-bottom: none;
    border-right: none;
  }
  input:first-of-type{
    border-radius: 20px 0 0 20px;
    border-left: none;
  }
  input:last-of-type{

  }
  button{
    border-radius:  0 20px 20px 0;
    background-color: #F45D5C;
    color: white;
    font-weight: bold;
    padding: 0 15px;
    border: none;
  }
  h2{
    font-size: 24px;
color: #156543;
font-weight: bold;
margin: auto;
  }
  select{
    background: white;
    border-top: none;
    border-bottom: none;
    border-right: none;
  }
</style>
