<template>
    <div class="home">
        <Header/>
        <DerniereMinute/>
        <LocationDeVacance/>
        <SuivezLeGuide/>
        <NouvelleLocation/>
        <LimmobilierByGiteDeFrance/>
    </div>
</template>

<script>
import Header from './Header'
import Nav from './Nav'
import DerniereMinute from './DerniereMinute'
import LocationDeVacance from './LocationDeVacance'
import SuivezLeGuide from './SuivezLeGuide'
import NouvelleLocation from './NouvelleLocation'
import LimmobilierByGiteDeFrance from './LimmobilierByGiteDeFrance'
import Footer from './Footer'
import ObtenirLeLabel from './ObtenirLeLabel'

export default {
  name: 'App',
  components: {
    Nav, Header, DerniereMinute, LocationDeVacance, SuivezLeGuide, NouvelleLocation, LimmobilierByGiteDeFrance, Footer, ObtenirLeLabel,
    }
}
</script>

<style>

</style>
