<template>

	<div class="background-forme">
		<div class="forme-blanche">	<p class="p-form">Vous êtes à la recherche d'un bien dans le Lot ?</p>
		    <div class="img-div">
		
	     <a href="https://www.gitesdefrance-immo.com/fr"><img class="img-vue-cahors" src="../assets/img/cahors-VUE.jpg"></a>

	     <a href="https://www.gitesdefrance-immo.com/fr"><img class="logo-immo" src="../assets/img/logo-immo.png"></a>

	     	</div>

	     	<p class="p-form2">Découvrez les gites et chambre d'hôtes en vente !</p>

		</div>

	</div>

</template>

<script>
export default {
  name: 'LimmobilierByGiteDeFrance',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

@import url('https://fonts.googleapis.com/css?family=Raleway');

.img-div {
	word-spacing: 80px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo-immo {
	width: 30%;
}

.img-vue-cahors {
	height: 170px;
	width: 40%;
}

.p-form2 {
	padding: 20px;
	font-size:29px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.p-form {
	margin-bottom:16px;
	font-size:29px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.background-forme {
	background-image: linear-gradient(#F3475D,#8B1896);
	padding: 30px;
}

.forme-blanche{
	padding: 10px;
	border-radius: 80px;
	margin:0 auto;
	width:90%;
	height:310px;
	background:white;
}
/*mettre le footer en resposive SMALL*/
@media screen and (max-width: 768px) {
@import url('https://fonts.googleapis.com/css?family=Raleway');

.img-div {
	word-spacing: 80px;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.logo-immo {
	width: 50%;
}

.img-vue-cahors {
	height: 100px;
	width: 90%;
}

.p-form2 {
	padding: 0px;
	font-size:15px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.p-form {
	margin-bottom:8px;
	font-size:15px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.background-forme {
	background-image: linear-gradient(#F3475D,#8B1896);
	padding: 30px;
}

.forme-blanche{
	padding: 10px;
	border-radius: 50px;
	margin:0 auto;
	padding-top: 10px;
	width:90%;
	height:250px;
	background:white;
	font-weight: bold;
}


}
</style>


