<template>
<div class="container">
	<h5> Nos locations de vacances </h5>
	<div class="GrandeCarte">
		<div class="image"></div>
		<div class="PetitesCartes">
			<div class="CarteIndividuelle">
				<a href="#">
					<img src="../assets/img/gite.jpg">
					<h6>Gites</h6>
					<p>Logement entier</p>
				</a>
			</div>
			<div class="CarteIndividuelle">
				<a href="#">
					<img src="../assets/img/CambreDhote.jpg">
					<h6>Chambre d'hôtes</h6>
					<p>Chambre+ petit déjeuné</p>
				</a>
			</div>
			<div class="CarteIndividuelle">
				<a href="#">
					<img src="../assets/img/GiteDeGroupe.jpg">
					<h6>Gite de groupe</h6>
					<p>Logement grande capacité</p>
				</a>
			</div>
			<div class="CarteIndividuelle">
				<a href="#">
					<img src="../assets/img/Camping.jpg">
					<h6>Campnig</h6>
					<p>Bungalow et emplacement</p>
				</a>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
  name: 'LocationDeVacance',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
	width: 90%;
	font-family: RaleWay;
	color: #3a485f;
	text-align: center;
}
h5{;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.GrandeCarte{
	width: 100%;
	height: 525px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: space-around;
	

}
.image{
	background-image: url('../assets/img/bannière.jpg');
	width:100%;
	height: 350px; 
	border-radius: 20px 20px 0px 0px;
}
.PetitesCartes{
	display: inline-flex;
	justify-content: space-between;
	position: relative;
	padding-left: 10px;
	margin-top: -100px;
}
.PetitesCartes div{
	width: 170px;
	height: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	background-color: white;
	margin: 30px;
	padding: 5px;
}
.CarteIndividuelle img{
	align-content: center;
	width: 70%;
	margin-top: 10px;
}
.CarteIndividuelle a{
	text-decoration: none;
	color: #3a485f;
}
.CarteIndividuelle h6{
	font-weight: bold;
	margin-top: 10px;
	font-size: 17px;
}
.CarteIndividuelle p{
	font-size: 12px;
}

/*mettre le footer en resposive SMALL*/
@media screen and (max-width: 768px) {

.container{
	width: 90%;
	font-family: RaleWay;
	color: #3a485f;
	text-align: center;
}
h5{;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.GrandeCarte{
	width: 100%;
	height: 350px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: space-around;
	

}
.image{
	background-image: url('../assets/img/bannière.jpg');
	width:100%;
	height: 200px; 
	border-radius: 20px 20px 0px 0px;
}
.PetitesCartes{
	display: inline-flex;
	justify-content: space-around;
	position: relative;
	padding-left: 0px;
	margin-top: -200px;
}
.PetitesCartes div{
	width:62px;
	height: 150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	background-color: white;
	margin: 5px;
	padding: 0px;
}
.CarteIndividuelle img{
	align-content: center;
	width: 70%;
	margin-top: 3px;
}
.CarteIndividuelle a{
	text-decoration: none;
	color: #3a485f;
}
.CarteIndividuelle h6{
	font-weight: bold;
	margin-top: 10px;
	font-size: 12px;
}
.CarteIndividuelle p{
	font-size: 9px;
}


}

</style>
