<template>
 
</template>

<script>
export default {
  name: 'MaSelection',
  data () {
  return {
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
