<template>
<div class="container">
	<h6>Partenaires locaux</h6>
	
	<div class="memento">
		<img src="../assets/img/couv_memento_2019-1549982632.jpg">
	<p><br><br>Découvrez la liste de nos partenaires locaux : Vous avez besoin d'un conseil, d'une expertise, d'un service de conciergerie, vous recherchez un artisan avec qui travailler, vous souhaitez aménager votre hébergement... dans de nombreux domaines nos partenaires peuvent vous aider, n'hésitez pas à les consulter !</p>
	</div>
<br><br><br><br>

<h5>Nos partenaires :</h5>

<div class="CreditAgricol">
	<img src="../assets/img/index.png" alt="logo du CRÉDIT AGRICOLE NORD MIDI-PYRÉNÉES">
<strong><br>CRÉDIT AGRICOLE NORD MIDI-PYRÉNÉES</strong>
<p>Vous accompagner dans votre projets personnels et professionnels : banque de proximité en France et à l'International, gestion de l'épargne et assurances, services financiers spécialisés.</p>
</div><br>

<div class="CER">
	<img src="../assets/img/59cb7d176a6a2_LOGO CERFRANCE baseline dessous-OFFICIEL.jpg" alt="logo de CER">
<br><strong>CER France</strong>
<p>Expert de la gestion d'entreprise depuis plus de 50 ans. Accompagnement dans la réflexion et la construction d'un projet, rechercher des moyens d'optimisation.<br>
<span>Contact:</span> Pierre LAULAN <a href="mailto:plaulan@46.cerfrance.fr">plaulan@46.cerfrance.fr</a> ou Didier MARTY <a href="mailto:dmarty@46cerfrance.fr">dmarty@46cerfrance.fr</a></p>
</div><br>
 
<div class="allianz">
	<img src="../assets/img/23213454abdd87ae7c0ac67ec96fd6.jpeg" alt="logo de ALLIANZ">
<br><strong>ALLIANZ</strong>
<p>Accompagnement des particuliers ou professionnels et entreprises pour répondre à leurs besoin de gestion de patrimoine, protection sociale et d'assurance dommages.<br>
<span>Contact :</span> Laurence DELBOS <a href="mailto:laurence.delbos@allianz.fr">laurence.delbos@allianz.fr</a> ou Fabrice FERRAS <a href="mailto:fabrice.ferras@allianz.fr">fabrice.ferras@allianz.fr</a></p>
</div><br>

<div class="DireLot">
	<img src="../assets/img/direlot.png" alt="logo de DIRE LOT">
<br><strong>DIRE LOT</strong>
<p>DireLOT magazine, publication haut de gamme dédiée au patrimoine et à l'art de vivre dans le Lot, vous propose deux offres :<br><br>

    OFFRE 1 = un lot de 5 magazines DIRELOT (panachage de 5 revues DireLOT Magazine différentes) + le livre des « Bonnes tables du Lot » qui pourrait être mis à la disposition des locataires. Livraison chez le propriétaire. Le tarif proposé est de 35 euros (port compris) au lieu de 43 euros<br>

    OFFRE 2 = un abonnement à DIRELOT magazine avec Hors-série au tarif 35 euros au lieu de 43 euros<br>

<span>Contact :</span> <a href="mailto:contact@dire-territoires.fr">contact@dire-territoires.fr</a> ou directement par téléphone au 06 88 93 67 17.</p>
</div><br>

<div class="PEPINIERES">
	<img src="../assets/img/pepinière.jpg" alt="logo de LES PEPINIERES DES SOURCES">
<br><strong>LES PEPINIERES DES SOURCES</strong>
<p>Un large choix de plus de 1000 variétés, avec le code promo 'GITES DE FRANCE', les adhérents bénéficient d'une remise commerciale de 10% sur l'ensemble du parc végétaux, terreaux, poterie...
Site internet ;<br> 
<span>Contact :</span> <a href="mailto:contact@pepinieres-des-sources.fr">contact@pepinieres-des-sources.fr</a></p>
</div><br>

<div class="phyts">
	<img src="../assets/img/phyts.jpeg" alt="logo de PHYT'S">
<br><strong>PHYT'S</strong>
<p>La beauté responsable. Les produits Phyt's sont certifiés bio, d'origine naturelle et 100% fabriqués à Caillac ! La marque possède des valeurs basées sur la naturalité et le bio, le développement durable et l'écologie.<br>
<span>Contact :</span> <a href="www.phyts.com">www.phyts.com</a> ; 
téléphone de l'institut : 05 65 20 20 00</p>
</div><br>

<div class="peche">
	<img src="../assets/img/peche.jpeg" alt="logo de LA FEDERATION DE PÊCHE DU LOTS">
<br><strong>LA FEDERATION DE PÊCHE DU LOT</strong>
<p><a href="http://www.pechelot.com/web/">Site de la Fédération de Pêche</a><br>
<span>Contact:</span> Marie-Annick Cambe <a href="mailto:ma.cambe@tourisme-lot.com">ma.cambe@tourisme-lot.com</a> ou Laure Lebret <a href="mailto:contact@gites-de-france-lot.fr">contact@gites-de-france-lot.fr</a></p>
</div><br>

<div class="capeb">
	<img src="../assets/img/13918-la-capeb-juge-injustes-les-critiques-de-l-ufc.jpg" alt="logo de LA CAPEB">
<br><strong>LA CAPEB</strong>
<p>Faire travailler l'artisanat local avec une démarche qualitative<br>
<a href="http://www.capeb.fr/lot">Site de la CAPEB</a></p>
</div><br>


<div class="métierart">
	<img src="../assets/img/metierdart.jpeg" alt="logo de LE SYNDICAT DES MÉTIERS D'ART">
<br><strong>LE SYNDICAT DES MÉTIERS D'ART</strong>
<p>Faire travailler l'artisanat local avec une démarche qualitative<br>
<span>Contact :</span> <a href="mailto:a.lopez@upa46.fr">a.lopez@upa46.fr</a></p>
</div><br>

<div class="afpa">
	<img src="../assets/img/Logo_Afpa.jpg" alt="logo de AFPA">
<br><strong>AFPA</strong>
<p>La formation des porteurs de projet et des adhérents. L'AFPA vous propose des formations reconnues pour l'emploi et pour gagner en compétences ainsi qu'un accompagnement dans vos projets professionnels.<br>
<span>Contact:</span> <a href="mailto:evelyne.capelle@afpa.fr">Evelyne CAPELLE evelyne.capelle@afpa.fr</a></p>
</div><br>


<div class="Plaisirs">
	<img src="../assets/img/1537870800.png" alt="logo de LOT OF PLAISIRS">
<br><strong>LOT OF PLAISIRS</strong>
<p>Services de conciergerie privée de proximité ! Vous vivez à distance de votre bien ou souhaitez vous simplifier la vie et celle de vos locataires ? La conciergerie Lot of Plaisirs propose un panel de services pour alléger et faciliter les tâches d'intendance liées à votre hébergement : intendance et gestion de location saisonnière, assistance locative et gestion de la location saisonnière, service sur-mesure et confort supplémentaire pour vous et vos locataires : livraison de produits locaux, bien être... <br>
<span>Contact :</span> <a href="mailto:nadege@lotofplaisirs.fr">nadege@lotofplaisirs.fr</a> ; <a href="https://www.lotofplaisirs.fr/">Site internet de Lot Of Plaisirs</a></p>
</div><br>

<div class="drone">
	<img src="../assets/img/drone.jpg" alt="logo de DRONE REPORT">
<br><strong>DRONE REPORT</strong>
<p>Drone Report réalise des photos et vidéos aériennes (panoramique) prises par drone dans le Lot, pour la mise en valeur de votre hébergement. Tarifs préférentiels pour les adhérents Gîtes de France Lot. <br>
<span>Contact :</span> <a href="mailto:contact@dronereport.fr">contact@dronereport.fr</a> ;site internet : <a href="http://www.dronereport.fr/">www.dronereport.fr</a></p>
</div><br>

<div class="Jardin">
	<img src="../assets/img/SOTHYS_LOGO.png" alt="logo de LES JARDINS SOTHYS">
<br><strong>LES JARDINS SOTHYS</strong>
<p>Ses jardins, son restaurant, sa boutique, sa maison, n'hésitez pas à découvrir leurs produits.<br>
<a href="https://www.lesjardinssothys.fr/">lesjardinssothys.fr</a></p>
</div><br>

<div class="Delbos">
	<img src="../assets/img/delbos.png" alt="logo de AVIS DELBOS LOCATION">
<br><strong>AVIS DELBOS LOCATION</strong>
<p>Location de véhicules pour les particuliers ou les professionnels, 4 agences Cahors, Figeac, Aurillac, Rodez... AVIS a toujours la solution adaptée afin de faire de votre expérience de location un moment toujours plus facile et plus agréable.<br>
<span>Contact :</span> <a href="mailto:avis.figeac@delbos-location.com">avis.figeac@delbos-location.com</a>; site internet : <a href="http://www.cars-delbos.com/avis-location/">cars-delbos.com</a></p>
</div><br>

<div class="piscine">
	<img src="../assets/img/logo-site-960-204.jpg" alt="logo de LOT PISCINE">
<br><strong>LOT PISCINE</strong>
<p>Créateur de piscine-univers, grâce à Lot-Piscine vous avez la possibilité de créer votre univers bien-être (piscine, terrasse, pool-house en bois) avec des solutions standard ou sur mesure.<br>
<span>Contact :</span> <a href="http://www.cars-delbos.com/avis-location/">lot-piscine.com</a></p>
</div><br>

<div class="courtage">
	<img src="../assets/img/courtage.jpg" alt="logo de ALIANS COURTAGE">
<br><strong>ALIANS COURTAGE</strong>
<p>Votre multirisque professionnelle,<br> 
	<span>Contact:</span> Mr Dominique Hans <a href="mailto:d.hans@alians.fr">d.hans@alians.fr</a> ; 01 85 480 480. <br>Pour plus d'information : <a href="http://hospitis.fr/gdf-VC76gFu96kc">hospitis.fr</a></p>
</div><br>

<div class="literie">
	<img src="../assets/img/univers_literie_logo@2x.png" alt="logo de UNIVERS LITERIE">
<br><strong>UNIVERS LITERIE</strong>
<p>Vous souhaitez changer la literie de votre hébergement, vous êtes entrain de finaliser l'intérieur de votre maison, Univers Literie vous propose des remises en tant qu'adhérent Gîtes de France, profitez-en !<br>
<span>Contact :</span> <a href="http://www.univers-literie.com/">univers-literie.com</a> ; 05 65 22 32 31</p>
</div><br>

<div class="blanchisserie">
	<img src="../assets/img/cropped-RERTRTravai300-150l.jpg" alt="logo de ET SON ECO BLANCHISSERIE">
<br><strong>ET SON ECO BLANCHISSERIE</strong>
<p>L'éco blanchisserie propose un service de proximité Communauté d'Agglomération de Cahors, dans une démarche de respect de l’environnement avec des produits de lavage éco labellisés. Un service de livraison peut être mis en place pour la prise en charge de votre linge. L’Eco blanchisserie met à votre disposition un service de qualité et de proximité dans le domaine de la location et/ou d’entretien de linge. <br>
<span>Contact :</span> <a href="http://www.rertr.fr/">rertr.fr</a> ;<br>
<a href="mailto:blanchisserie.rertr@hotmail.com">blanchisserie.rertr@hotmail.com</a></p>
</div><br>

<div class="energie">
	<img src="../assets/img/quercy-energies-logo-1.jpg" alt="logo de QUERCY ÉNERGIES">
<br><strong>QUERCY ÉNERGIES</strong>
<p>Quercy énergies vous propose une présentation générale sur les possibilités des énergies renouvelables adaptées à votre hébergement. L'association vous accompagne également dans l'obtention de subvention public spécifique et dans la réalisation de votre projet.<br>
<span>Contact :</span> <a href="http://www.quercy-energies.fr/">quercy-energies.fr</a> ; <br> <a href="mailto:benjamin.beretti@quercy-energies.fr">benjamin.beretti@quercy-energies.fr</a></p>
</div><br>

<div class="trait">
	<img src="../assets/img/unnamed.jpg" alt="logo de LE TRAIT D'UNION">
<br><strong>LE TRAIT D'UNION</strong>
<p>Les services de la conciergerie Le Trait d'Union, situés à Brengues, ont été pensés pour vous accompagner au mieux dans la gestion et l'intendance de votre propriété. Éloignement, entretien, charges... Propriétaire d'une résidence secondaire,
vous savez combien gérer votre bien à distance peut s'avérer onéreux. Le Trait d'Union, vous propose plusieurs types de services : la conciergerie avec l'entretien de la maison, l'entretien des espaces verts, petits travaux de bricolages, entretien de la piscine etc... et l’assistance location avec l'accueil de vos locataires, le départ de vos locataires, le ménage entre deux locations etc...<br>
 <span>Contact :</span> <a href="https://www.letraitdunion-conciergerie.com/">letraitdunion-conciergerie.com </a>;<br> 
 Thibault Ruiz <a href="mailto:info@letraitdunion-conciergerie.com">info@letraitdunion-conciergerie.com </a></p>
 </div><br>

<div class="zen">
	<img src="../assets/img/logofinal2.png" alt="logo de ÉCHAPPÉE ZEN">
<br><strong>ÉCHAPPÉE ZEN</strong>
<p>Envie de proposer à vos clients un moment de douceur et de détente ? Une pause Bien Être à domicile c'est possible avec Allison Isaacs. Elle utilise des produits 100% locaux, puisque elle travaille avec la marque Phyt's et réserve à vos clients quelques petits cadeaux. <br>
<span>Contact :</span> <a href="mailto:echappeezen46@gmail.com">echappeezen46@gmail.com</a> ou 06 25 31 17 29.<br> N’hésitez pas à la contacter, elle peut s'adpater en fonction de votre demande.</p>
 </div><br>

<div class="coordination">
	<img src="../assets/img/cooralie.png" alt="logo de COORDINATION DES ASSOCIATIONS LOTOISES DE L'INSERTION PAR L’ÉCONOMIQUE">
<br><strong>COORDINATION DES ASSOCIATIONS LOTOISES DE L'INSERTION PAR L’ÉCONOMIQUE</strong>
<p>Le collectif Cooralie est composé de six associations : API à Souillac, Initiatives emplois à Gourdon, Emploi services à Gramat, Quercy contacts à Montcuq, Regain à Figeac, RERTR (Réseau d'entraide et de relation de Terre Rouge) à Cahors.
Vous avez besoin d'un agent d'entretien, d'une personne pour s'occuper des espaces verts, de la piscine, besoin d'effectuer des petits travaux dans votre hébergement.<br>
<span>Contact :</span> <a href="mailto:cooralie.siaedulot@gmail.com">cooralie.siaedulot@gmail.com</a> ; 06 44 78 68 48</p>
</div><br>

<div class="carre">
	<img src="../assets/img/carreblanc.png" alt="logo de CARRE BLANC">
<br><strong>CARRE BLANC</strong>
<p>Carré Blanc réalise un linge de maison de qualité, créatif et moderne. Révélateur d’inspirations, ils développent, au fil des saisons, des produits uniques pour composer la décoration de votre structure touristique. Leurs couettes et oreillers ainsi que leur linge de lit uni ou fantaisie permettent de repenser la chambre de vos hôtes. Les serviettes de toilette et lespeignoirs vous réconfortent au quotidien. Enfin, le linge de cuisine vous permet d’épater vos convives en composant une table digne de ce nom ! <br>
	<span>Contact:</span> <a href="https://boutiques.carreblanc.com/linge-de-maison/cahors/CAO">www.carreblanc.com</a> ; 09.67.87.06.56</p>
</div><br>

<div class="literiemarche">
	<img src="../assets/img/literiemarche.svg" alt="logo de LITRIMARCHE">
<br><strong>LITRIMARCHE</strong>
<p>LITRIMARCHÉ, spécialiste de la literie depuis plus de 20 ans en France, a sélectionné  une gamme complète de matelas adaptée à l’accueil des dormeurs dans les collectivités, gîtes et hôtels. Découvrez une sélection de matelas, literie, sommiers et accessoires de lit multimarques à prix discount.<br>
 <span>Contact :</span> <a href="https://www.litrimarche.fr/magasin/cahors">www.litrimarche.fr </a>; <br>
<a href="mailto:litrimarche46@orange.fr">litrimarche46@orange.fr</a> ; 05 65 30 66 35</p>
</div><br>

<div class="wcom">
	<img src="../assets/img/dec98c0df28a8b04e0e32ace97253205_400x400.png" alt="logo de 3WCOM">
<br><strong>3WCOM</strong>
<p>Une agence de communication à votre écoute... 3WCOM c'est 18 ans d'expertise dans le Lot, la connaissance du secteur et des acteurs touristiques locaux. C'est le moment d'optimiser votre visibilité afin de louer davantage. 3WCOM vous propose de réaliser votre site internet à un tarif exceptionnellement compétitif. <br>
	<span>Contact:</span> Philippe VINCENS <a href="mailto:philippe@3wcom.com">philippe@3wcom.com </a>; <br>
		<a href="http://www.3wcom.fr/">www.3wcom.fr</a>;<br>
		 05 65 53 25 53</p>
</div><br>

<div class="zolpan">
	<img src="../assets/img/zolpan-saint-maximin-300x300.jpg" alt="logo de ZOLPAN">
<br><strong>ZOLPAN</strong>
<p>Les peintures ZOLPAN sont des produits de haute qualité fabriqués en France. Facilité d'application, rendement élevé, forte opacité, bonne tenue dans le temps : vous allez voir la différence ! Retrouvez également une large gamme de marques leader en papier peint, revêtements de sol et outillage. <br>
 <span>Contact:</span> Régis SABATHIER <a href="mailto:regis.sabathier@zolpan.fr">regis.sabathier@zolpan.fr</a> ;<br>
  05 65 22 56 43 ; <br>
<a href="https://www.zolpan.fr/magasins/magasin-zolpan-cahors">www.zolpan.fr</a></p>
</div><br>

<div class="ombre">
	<img src="../assets/img/logo_seul_80h.png" alt="logo de OMBRE&LUMIÈRE">
<br><strong>OMBRE&LUMIÈRE</strong>
<p>Ombre et Lumière vous propose une décoration qui privilégie les matières naturelles pour habiller vos murs de couleurs et de lumière en créant des effets de matières avec de la chaux, en adoptant des matières telles que le béton ciré, moderne et élégant, pour recouvrir murs et sols et créer des espaces de vie contemporains agréables et faciles à vivre. <br>
<span>Contact:</span> Laurence KOCH <a href="mailto:ombretlumiere@icloud.com">ombretlumiere@icloud.com</a> ;<br>
<a href="http://www.ombretlumiere.com/">www.ombretlumiere.com</a></p>
</div><br>

<div class="Pygmalion">
	<img src="../assets/img/pygmalion.jpeg" alt="logo de PYGMALION">
<br><strong>PYGMALION</strong>
<p>Créez ou mettez à jour l'environnement chaleureux et l'harmonie de votre structure touristique. Spécialiste à Cahors depuis 1830, Pygmalion Tissus Bertrand vous propose une qualité de tissus, mercerie, linge de maison, linge de nuit et arts de la table. <br>
<span>Contact :</span> 05 65 35 03 52 ; <br>
<a href="http://www.apygmalion.com/">www.apygmalion.com</a></p>
</div><br>

<div class="photolot">
	<img src="../assets/img/Capture du 2019-02-20 12-10-30.png" alt="logo de PHOTOS LOT 360">
<br><strong>PHOTOS LOT 360°</strong>
<p>Dopez votre visibilité, faites appel à un professionnel agrée pour mettre en avant et donner une bonne image de votre structure. Proposez à vos clients de découvrir votre établissement avant leur arrivée grâce à une visite virtuelle de grande qualité pour augmenter leur confiance. <br>
	<span>Contact:</span> Xavier ROUCHOUSE <a href="mailto:ombretlumiere@icloud.com">locloisirs@wanadoo.fr</a> 
<br> 06 82 97 66 76 ; 
<br> <a href="https://www.photos-lot-360.fr/">www.photos-lot-360.fr</a></p>
</div><br>

<div class="labori">
	<img src="../assets/img/labori.png" alt="logo de LA BORIE D'IMBERT">
<br><strong>LA BORIE D'IMBERT</strong>
<p>En plein cœur du Parc Naturel Régional des Causses du Quercy, découvrez la ferme découverte de la borie d'Imbert. Retrouvez tous les produits fabriqués à la ferme ainsi que ceux proposés par des fabricants locaux : fromages, charcuterie, produits du terroir, plats cuisinés, vins, noix, miel, bières artisanales, glaces artisanales... Profitez de tarifs avantageux pour régaler vos locataires... ou bien vous même ! <br>
<span>Contact :</span> 05 65 33 20 37 ;<br>
<a href="http://www.laboriedimbert.com/"> www.laboriedimbert.com</a></p>
</div><br>

<div class="hbc">
	<img src="../assets/img/h2bc_lg.png" alt="logo de H2BC">
<br><strong>H2BC</strong>
<p>Des maisons circulaires à ossature bois, plusieurs tailles disponibles de 20m² à 65m², si l'idée vous dit de créer des chambres d'hôtes le concept est original et novateur. <br>
	<span>Contact:</span>: <a href="http://h2bc.fr/"> www.h2bc.fr </a>; <br>
<a href="mailto:contact@h2bc.fr">contact@h2bc.fr</a></p>
</div><br>

<div class="air">
	<img src="../assets/img/d1e076_e91acf05a2d942f68d0674976949cb42~mv2.png" alt="logo de BOL D'AIR">
<br><strong>BOL D'AIR</strong>
<p>Service de conciergerie dans le Nord du département, situé à Saint Michel Loubéjou. Vous n'avez plus le temps de tout faire, gestion locative, intendance de la maison, livraison, petit bricolage... N'hésitez pas à contacter Bol d'Air <br>
	<span>Contact:</span>: <a href="https://www.bol-dair.net/"> bol-dair.net</a> ; <br>
<a href="bol-dair@sfr.fr">bol-dair@sfr.fr</a></p>
</div><br>



</div>

</template>

<script>
export default {
  name: 'NosPartenaires',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
	font-family: RaleWay;
	padding: 50px;
}
.container h6{
	font-size: 25px;
	color: #3a485f;
	text-align: center;
	font-weight: bold;
}
.container h5{
	font-size: 20px;
	color: #156943;
	font-weight: bold;
	margin-left: 20px;
}

.container p{
	font-size: 15px;
	color: #3a485f;
	text-align: justify;
}

.container strong{
	font-size: 15px;
	color: #8f923c;
	font-family: RaleWay;
	font-weight: bold;
}
.container a{
	font-size: 15px;
	color: #f45d5c;
	font-family: RaleWay;
	text-decoration: underline;
}
.container span{
	font-size: 15px;
	color: #3a485f;
	font-family: RaleWay;
	text-decoration: underline;
}
.memento img{
	float: left;
	width: 300px;
	height: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.memento p{
	font-size: 20px;
	color: #f45d5c;
	font-family: RaleWay;
	font-weight: bold;
}
.CreditAgricol img{
	float: left;
	width: 90px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.CER img{
	float: left;
	width: 120px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.allianz img{
	float: left;
	width: 120px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.DireLot img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.PEPINIERES img{
	float: left;
	width: 300px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.phyts img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.peche img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.capeb img{
	float: left;
	width: 100px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.métierart img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.afpa img{
	float: left;
	width: 70px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.Plaisirs img{
	float: left;
	width: 90px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.drone img{
	float: left;
	width: 70px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.Jardin img{
	float: left;
	width: 150px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.Delbos img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.piscine img{
	float: left;
	width: 275px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.courtage img{
	float: left;
	width: 60px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.literie img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.blanchisserie img{
	float: left;
	width: 120px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.energie img{
	float: left;
	width: 300px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.trait img{
	float: left;
	width: 150px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.zen img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.coordination img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.carre img{
	float: left;
	width: 250px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.literiemarche img{
	float: left;
	width: 250px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.wcom img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.zolpan img{
	float: left;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.ombre img{
	float: left;
	width: 200px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
	background-color: black;
}
.Pygmalion img{
	float: left;
	width: 70px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.photolot img{
	float: left;
	width: 150px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
} 
.labori img{
	float: left;
	width: 70px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.hbc img{
	float: left;
	width: 250px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.air img{
	float: left;
	width: 300px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
/*mettre le footer en resposive SMALL*/
@media screen and (max-width: 768px) {
	.container{
	font-family: RaleWay;
	padding: 50px;
}
.container h6{
	font-size: 17px;
	color: #3a485f;
	text-align: center;
	font-weight: bold;
}
.container h5{
	font-size: 15px;
	color: #156943;
	font-weight: bold;
	margin-left: 20px;
}

.container p{
	font-size: 12px;
	color: #3a485f;
	text-align: justify;
}

.container strong{
	font-size: 12px;
	color: #8f923c;
	font-family: RaleWay;
	font-weight: bold;
}
.container a{
	font-size: 12px;
	color: #f45d5c;
	font-family: RaleWay;
	text-decoration: underline;
}
.container span{
	font-size: 12px;
	color: #3a485f;
	font-family: RaleWay;
	text-decoration: underline;
}
.memento img{
	float: left;
	width: 250px;
	height: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.memento p{
	font-size: 17px;
	color: #f45d5c;
	font-family: RaleWay;
	font-weight: bold;
}
.CreditAgricol img{
	float: none;
	width: 90px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.CER img{
	float: none;
	width: 120px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.allianz img{
	float: none;
	width: 120px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.DireLot img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.PEPINIERES img{
	float: none;
	width: 300px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.phyts img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.peche img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.capeb img{
	float: none;
	width: 100px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.métierart img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.afpa img{
	float: none;
	width: 70px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.Plaisirs img{
	float: none;
	width: 90px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.drone img{
	float: none;
	width: 70px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.Jardin img{
	float: none;
	width: 150px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.Delbos img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.piscine img{
	float: none;
	width: 275px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.courtage img{
	float: none;
	width: 60px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.literie img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.blanchisserie img{
	float: none;
	width: 120px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.energie img{
	float: none;
	width: 300px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.trait img{
	float: none;
	width: 150px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.zen img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.coordination img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.carre img{
	float: none;
	width: 250px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.literiemarche img{
	float: none;
	width: 250px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.wcom img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.zolpan img{
	float: none;
	width: 80px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.ombre img{
	float: none;
	width: 200px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
	background-color: black;
}
.Pygmalion img{
	float: none;
	width: 70px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.photolot img{
	float: none;
	width: 150px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
} 
.labori img{
	float: none;
	width: 70px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.hbc img{
	float: none;
	width: 250px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
.air img{
	float: none;
	width: 300px;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}
}
</style>
