<template>
 <div class="container">
  <div class="GrandeCarte">
    <md-card>
        <md-card-actions>
        </md-card-actions>
        <md-card-media class="swiper-inner">
          <!-- swiper -->
          <swiper :options="swiperOption">
            <swiper-slide class="slide1"><a href="#"><p>Nouveauté: Digital Détox</p></a><img src="../assets/img/paysage1.jpeg" alt=""></swiper-slide>
            <swiper-slide><a href="#"><p>Coup de coeur du mois</p></a><img src="../assets/img/Paysage2.jpeg" alt=""></swiper-slide>
            <swiper-slide><a href="#"><p>Accessible et adapté</p></a><img src="../assets/img/paysage3.jpeg" alt=""></swiper-slide>
            <swiper-slide><a href="#"><p>Séjour tout compris</p></a><img src="../assets/img/paysage4.jpeg" alt=""></swiper-slide>
            <swiper-slide><a href="#"><p>Nos activités</p></a><img src="../assets/img/paysage5.jpeg" alt=""></swiper-slide>
            <swiper-slide><a href="#"><p>Chambre d'hôte avec cuisine</p></a><img src="../assets/img/paysage6.jpeg" alt=""></swiper-slide>
            <swiper-slide><a href="#"><p>Chambre d'hôte avec jardin</p></a><img src="../assets/img/paysage7.jpeg" alt=""></swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </md-card-media>
      </md-card>
    </div>
  </div>
</template>


<script>
import 'swiper/dist/css/swiper.css'

import { swiper, swiperSlide } from 'vue-awesome-swiper'
export default {
  name: 'SuivezLeGuide',
  data () {
    return {
       swiperOption: {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
          },
          pagination: {
            el: '.swiper-pagination'
          }
        }
      }
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.swiper-inner {
    width: 100%;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
  }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

.container{
	width: 90%;
	text-align: center;
}
.GrandeCarte{
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: space-around;
}

p {
  font-family: RaleWay;
	color: #3a485f;
}


</style>
